#current-day {
    background-color: #f5a3c7;
    border: 2px solid #8a0f45;
    padding: 10px;
    display: inline-block;
  }

#current-time {
    background-color: #f5a3c7;
    border: 2px solid #8a0f45;
    padding: 10px;
    display: inline-block;
}

button{
    background-color: #fad1e3 ;
    color: #eb478f;
    border: 3px solid;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 15px auto;

}

main{
    max-width: 960px;
    margin: auto;
}

h1 {
    text-align: center
}

h2 {
    text-align: center
}